.idea/workspace.xml
.idea/tasks.xml
.idea/shelf/
*.iml

.env
.env.*
!.env.example

backend/build/
backend/.gradle/
backend/out/

frontend/node_modules/
frontend/dist/
frontend/.vite/

infra/minio-data/
infra/mongo-data/
infra/redis-data/

*.log
folder_tree.md 